# Configuración de Rutas
PROJECT_ROOT=C:/Users/rinco/simm_skt
# Cambiar si se usa disco externo (ej: D:/bd_admsim)
DB_DATA_PATH=AdmsimPostgresData

# Puertos (para evitar colisiones)
APP_PORT=8083
DB_PORT=5435
POSTGRES_PASSWORD=postgres