# ==============================================================================
# Variables de Entorno - Plantilla de Proyecto
# ==============================================================================

# Rutas del Host
PROJECT_ROOT=C:/Users/rinco/mi_proyecto

# Puertos
APP_PORT=8080
DB_PORT=5432

# Credenciales DB
POSTGRES_PASSWORD=postgres

# Almacenamiento:
# Con Docker Desktop configurado en el disco K:, todos los named volumes de Docker
# se guardan automáticamente en K: sin consumir espacio en C:.
# Si manejas archivos masivos externos (dumps SQL, archivos de datos pesados),
# define aquí la ruta apuntando a K: (ej: K:/mi_proyecto/data)
DATA_PATH=K:/mi_proyecto/data
