# Copia a .env y ajusta si vas a usar docker compose en el futuro.
# Para docker run directo, estas variables son referencia/documentación.

HOST_HTTP_PORT=8081

# Paths Windows (PowerShell/CMD). Ajusta a tu usuario/carpeta.
HOST_GPS_G_PATH=C:\\Users\\rinco\\gps_g
HOST_BASURA_PATH=C:\\Users\\rinco\\basura
HOST_TCPDF_PATH=C:\\Users\\rinco\\tcpdf

# Dentro del contenedor
CONTAINER_GPS_G_PATH=/var/www/gps_g
CONTAINER_BASURA_PATH=/var/www/basura
CONTAINER_TCPDF_PATH=/var/www/tcpdf

